<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Portfolio of software development trainee, Esteban Sanchez" />
    <meta
      name="og:description"
      content="Portfolio of software development trainee, Esteban Sanchez" />
    <meta name="og:title" content="Contact Me" />
    <title>Esteban Sanchez's Portfolio</title>
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="../css/index.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer" />
  </head>
  <body>
    <header class="header">
      <h2>Contact Me</h2>
      <nav>
        <ul class="header__list">
          <li class="header__option"><a href="/index.html">ABOUT ME</a></li>
          <li class="header__option"><a href="./portfolio.html">PORTFOLIO</a></li>
          <li class="header__option"><a href="./contact.html">CONTACT ME</a></li>
        </ul>
      </nav>
      <section class="header__icons">
        <a href="https://www.linkedin.com/in/estebansg97" target="_blank">
          <i class="fa-brands fa-linkedin fa-2xl"></i>
        </a>
        <a href="https://github.com/Exloz" target="_blank">
          <i class="fa-brands fa-github fa-2xl"></i>
        </a>
      </section>
    </header>
    <main class="main">
      <section class="contact-me">
        <h1>Send me a message!</h1>
        <form>
          <fieldset>
            <label>
              First Name
              <input type="text" name="first name" placeholder="Esteban" required />
            </label>
            <label>
              Last Name
              <input type="text" name="last name" placeholder="Sanchez" required />
            </label>
            <label>
              Email
              <input type="email" name="email" placeholder="estebansg97@gmail.com" required />
            </label>
            <label>
              Phone number
              <input type="number" name="Phone number" placeholder="+57123456789" required />
            </label>
            <label>
              Message
              <textarea
                name="Message"
                id=""
                cols="30"
                rows="10"
                placeholder="Hello there!"
                required></textarea>
            </label>
          </fieldset>
          <input class="contact-me__button" type="submit" value="Send" />
        </form>
      </section>
    </main>
    <footer class="footer">
      <p>© 2023 Esteban Sanchez</p>
    </footer>
  </body>
</html>
