<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Portfolio of software development trainee, Esteban Sanchez" />
    <meta
      name="og:description"
      content="Portfolio of software development trainee, Esteban Sanchez" />
    <meta name="og:title" content="Esteban Sanchez's Portfolio" />
    <title>Esteban Sanchez's Portfolio</title>
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="../css/index.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer" />
  </head>
  <body>
    <header class="header">
      <h2>Portfolio</h2>
      <nav>
        <ul class="header__list">
          <li class="header__option"><a href="/index.html">ABOUT ME</a></li>
          <li class="header__option"><a href="./portfolio.html">PORTFOLIO</a></li>
          <li class="header__option"><a href="./contact.html">CONTACT ME</a></li>
        </ul>
      </nav>
      <section class="header__icons">
        <a href="https://www.linkedin.com/in/estebansg97" target="_blank">
          <i class="fa-brands fa-linkedin fa-2xl"></i>
        </a>
        <a href="https://github.com/Exloz" target="_blank">
          <i class="fa-brands fa-github fa-2xl"></i>
        </a>
      </section>
    </header>
    <main class="main">
      <div class="main__title">
        <h2>My Projects</h2>
      </div>
      <section class="projects">
        <article class="projects__item">
          <header>
            <h4>THE PINGÜINERA LIBRARY</h4>
          </header>
          <body>
            <p>
              C# program with login, registration, validations and console entries that allows the
              management of roles and books and novels of a library.
            </p>
            <a href="https://github.com/Exloz/C1-T3-C-Esteban-Sanchez.git">
              GitHub Pinguinera Library Project
            </a>
            <details>
              <summary>Technologies used</summary>
              <ul>
                <li>C#</li>
                <li>Git</li>
                <li>GitHub</li>
              </ul>
            </details>
          </body>
        </article>
        <article class="projects__item">
          <header>
            <h4>THE PINGÜINERA SUPPLIERS</h4>
          </header>
          <body>
            <p>
              Program for calculating retail and wholesale quotations for books and novels, taking
              into account customer seniority and different discounts.
            </p>
            <a href="https://github.com/Exloz/C1-T8-Pinguinera-Suppliers-Esteban-Sanchez.git">
              GitHub Pinguinera Suppliers Project
            </a>
            <details>
              <summary>Technologies used</summary>
              <ul>
                <li>C#</li>
                <li>.NET</li>
                <li>SQL Server</li>
                <li>Git</li>
                <li>GitHub</li>
              </ul>
            </details>
          </body>
        </article>
        <article class="projects__item">
          <header>
            <h4>BINGO BIG BUDA</h4>
          </header>
          <body>
            <p>
              Bingo gran buda game with registration and user login through firebase, allowing
              multiple players in the same game, chat, ball generation and real time check of
              winners and losers.
            </p>
            <a href="https://github.com/Exloz/back-reto-bingo.git">
              GitHub Bingo Gran Buda BackEnd Project
            </a>
            <br />
            <a href="https://github.com/Exloz/front-bingoGame.git">
              GitHub Bingo Gran Buda FrondEnd Project
            </a>
            <details>
              <summary>Technologies used</summary>
              <ul>
                <li>Java</li>
                <li>SpringBoot</li>
                <li>MongoDB</li>
                <li>TypeScript</li>
                <li>Angular</li>
                <li>WebSockets</li>
                <li>Git</li>
              </ul>
            </details>
          </body>
        </article>
        <article class="projects__item">
          <header>
            <h4>CRUD CONTACT LIST</h4>
          </header>
          <body>
            <p>
              Crud of a system that keeps track of telephone contacts with name, phone, email, date
              of birth, etc.
            </p>
            <a href="https://github.com/Exloz/C2-Taller8_CRUD.git">GitHub Contact List Project</a>
            <details>
              <summary>Technologies used</summary>
              <ul>
                <li>Java</li>
                <li>SpringBoot</li>
                <li>MySQL</li>
                <li>TypeScript</li>
                <li>Angular</li>
                <li>Git</li>
              </ul>
            </details>
          </body>
        </article>
        <article class="projects__item">
          <header>
            <h4>DATABASE MODELATION</h4>
          </header>
          <body>
            <p>
              Modeling of a NoSQL database for the internal management of budget, costs, personnel,
              clients and projects of a technology company.
            </p>
            <a
              href="https://github.com/Exloz/C1-T7--Reto-final-modelamiento---Esteban-Sanchez---Lina-Ramirez.git">
              GitHub NoSQL modelation Project
            </a>
            <details>
              <summary>Technologies used</summary>
              <ul>
                <li>NoSQL</li>
                <li>Git</li>
              </ul>
            </details>
          </body>
        </article>
      </section>
    </main>
    <footer class="footer">
      <p>© 2023 Esteban Sanchez</p>
    </footer>
  </body>
</html>
