.main__title {
  h2 {
    text-align: center;
    padding-block: 30px;
    font-size: 60px;
  }
  h2::before,
  h2::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: brown;
  }
}

.projects {
  padding-bottom: 230px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1500px;
  margin: 30px auto;
}

.projects__item {
  background-color: aliceblue;
  padding-inline: 10px;
  width: 40%;
  border: 20px row rgb(206, 38, 38);
  border-radius: 0.5em;
  margin: 10px 10px;
  padding: 5px 10px;
  transition: 0.3s;
  h4 {
    font-size: 30px;

    text-decoration: underline;
    color: brown;
    padding-block: 10px;
    text-align: center;
  }
  p {
    font-size: 20px;
    line-height: 150%;
    color: black;
    padding-bottom: 10px;
    text-align: justify;
  }

  .projects__icons {
    padding-block: 50px;
    text-align: center;
  }
  a {
    font-size: 50px;
    text-decoration: none;
    color: brown;
    transition: 0.4s;
  }
  a:hover {
    color: black;
  }

  .projects__list {
    align-items: center;
    justify-content: center;
    color: black;
    padding-block: 10px;

    summary {
      list-style: none;
      padding-bottom: 20px;
    }

    ul {
      gap: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    li {
      color: aliceblue;
      padding: 5px;
      border-radius: 5px;
      background-color: black;
      list-style: none;
      list-style-position: inside;
      transition: 0.3s;
    }
    li:hover {
      scale: 1.3;
    }
  }
}

.projects__item:hover {
  box-shadow: 0 0 35px white;
}
