.about-me {
  margin: auto;
  .about-me__title {
    background-color: brown;
    color: black;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    width: 100%;
    padding-bottom: 30px;
  }
}

/* .about-me__profile {
  height: 300px;
  border-radius: 10px;
  border-color: black;
} */

.about-me__information {
  background-color: brown;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;

  .about-me__description {
    text-align: left;
  }

  img {
    height: 120px;
    margin: 40px;
    border-radius: 20px;
    border-color: white;
    border-style: solid;
  }
}
